<nav class="home-menu">
  <ul>
    <%= link_to 'Home', pictures_path %></li>
  </ul>
</nav>
<body class="back-ground">
  <!-- <div class="entire">
    <div class="header">
      <div class="nav">
        <div class="text">
          <%= image_tag ( "logo.png") %>
        </div>
      </div>
    </div> -->
    <% unless current_user %>

    <div id="notice"><%= notice %></div>

    <div class="user-border">

      <h1 class="center">Login</h1>

      <%= form_tag '/login' do %>
      <div class="form-group">
        <%= text_field_tag :email, '', placeholder: "Email" %>
      </div>
      <div class="form-group">
        <%= password_field_tag :password, '', placeholder: "Password" %>
      </div>

      <center class="submit">
      <%= submit_tag "Submit" %>
    </center>
      <% end %>
    </div>
    <% else %>
    <div class="outer-div ">
      <div class="left-div grid">
        <% @pictures.each do |picture| %>
          <div class='grid-item' onclick='window.location.href = "<%= picture_path(picture) %>"'>

            <%= image_tag(picture.url, class: "image-view") %>
            <div class="title"><%= picture.title %></div>
          </div>
        <% end %>
      </div>
    </div>
    <br>

    <div class="upload">
      <%= link_to new_picture_path do %>
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>

      <% end %>
    </div>


<% end %>
  </div>
</body>
