<p id="notice"><%= notice %></p>
<div class="entire", id="border">
<div class="header">
    <div class="nav">
      <div class="text">
        <%= image_tag ( "logo.png") %>
      </div>
    </div>
</div>

<!-- <table class='table table table-hover table table-bordered'>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <div>
    <% @pictures.each do |picture| %>
      <div>
        <!-- <td><%= picture.title %></td> -->

        <div class="image-front"><%= link_to( image_tag(picture.url), picture_path(picture) ) %></div>

        <!-- <td><%= link_to 'Show', picture %></td> -->
        <!-- <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </div>
    <% end %>
  </div>


<br>
<%= link_to 'New Picture', new_picture_path %>
</div>
