<p id="notice"><%= notice %></p>

<p>
  <strong>MURALL</strong>
</p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
  <%= image_tag @picture.url %>
</p>

<h3>Add Comment</h3>
<%= render 'comments/form', comment: @comment %>

<h3>Comments</h3>
<% @picture.comments.each do |comment| %>
  <p>
    <%= comment.review %>
    <br>
    Added on: <%= time_ago_in_words comment.created_at %> ago
  </p>
<% end %>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
