<div class="entire">
  <div class="header">
    <div class="nav">
      <div class="text">
        <%= image_tag ( "logo.png") %>
      </div>
    </div>
  </div>

<p id="notice"><%= notice %></p>

<body class="show_main">

  <div class="image">
      <%= image_tag @picture.url %>
    </div>
    <!-- <div class="artist">
      <a href="https://www.instagram.com/alexis_diaz/?hl=en" target='_blank'>@Alexis Diaz</a>
    </div>
  </div> -->

  <div class="pic-info">

    <h3 class="title">
      <!-- <strong>Title:</strong> -->
      <%= @picture.title %>
    </h3>

    <%= link_to 'Edit', edit_picture_path(@picture) %> |
    <%= link_to 'Delete', @picture, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
    <br>
    <div class="comment-border">

      <%= render 'comments/form', comment: @comment %>

      <h4 class="commtitle">Comments</h4>

      <% @picture.comments.each do |comment| %>
        <p>
          <u><strong>@<%= comment.name %></strong></u> :
          <%= comment.review %>
          <br>
          <div class="time-font">Added <%= time_ago_in_words comment.created_at %> ago</div>
        </p>
      <% end %>

    </div>
    <br>
    <%= link_to 'Home', pictures_path %>
  </div>

</body>
